@page
@model Navi2.Pages.myAuditTable.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuditTable[0].UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditTable[0].SequenceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditTable[0].Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditTable[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditTable[0].ActionTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditTable[0].DateStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AuditTable) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SequenceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStamp)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AuditID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AuditID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AuditID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
