@page
@model Navi2.Pages.myUserRole.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserRole[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRole[0].Open)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRole[0].Contract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRole[0].Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRole[0].Users)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserRole) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Open)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.UserID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UserRID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UserRID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UserRID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
